img{
    width: 30%;
    margin: calc(10%/6);
    height: 100%;
    background-position: center;
    background-size: cover;
}
h1{
    text-transform: uppercase;
    border-bottom: 2px solid rgb(154, 150, 150);
    width: 30%;
    margin-left: calc(10%/6);
    padding: 20px 0;
}